@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron text-center" style="margin-bottom:0; margin-top:10px;">
    <h1>Northwind Table List</h1>
</div>
<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <table class="table table-bordered table-hover table-striped" style="margin: 10px;">
                <thead>
                    <tr>
                        <th>name</th>
                        <th>rows</th>
                    </tr>
                </thead>
                <tbody>
                    @for (var i = 0; i < ViewBag.Names.Length; i+=1)
                    {
                    <tr>
                        <td>@Html.ActionLink(ViewBag.Names[i] as string, "Index", ViewBag.Names[i] as string, new { area = "" }, new { @id = ViewBag.Names[i].Replace(" ","_") })</td>
                        <td>@ViewBag.Rows[i]</td>
                    </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>

@section scripts
{
    <script type="text/javascript" language="javascript">
        $(document).ready(function () {
            $('#Region').attr("href", "#");
            $('#Territories').attr("href", "#");
            $('#Order_Details').attr("href", "#");
            $('#Categories').attr("href", "#");
        });
    </script>    
}