@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron text-center" style="margin-bottom:0">
    <h1>Northwind Index</h1>
</div>
<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <h3>Northwind Table List</h3>
            <table class="table table-bordered table-hover table-striped" style="margin: 10px;">
                <thead>
                    <tr>
                        <th>name</th>
                        <th>rows</th>
                    </tr>
                </thead>
                <tbody>
                    @for (var i = 0; i < ViewBag.Names.Length; i+=1)
                    {
                    <tr>
                        <td>@Html.ActionLink(ViewBag.Names[i] as string, "Index", ViewBag.Names[i] as string, new { area = "" }, new { @class = "" })</td>
                        <td>@ViewBag.Rows[i]</td>
                    </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>