
@{
    ViewBag.Title = "statistics";
}

<div class="jumbotron text-center">
    <h1>Statistics</h1>
</div>

<div class="row">
    <div class="col-sm-3">
        <h3>Some Links</h3>
        <p>Lorem ipsum dolor sit ame.</p>
        <ul class="nav nav-pills flex-column">
            <li class="nav-item">
                <a class="nav-link active" href="#">Active</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Link</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Link</a>
            </li>
            <li class="nav-item">
                <a class="nav-link disabled" href="#">Disabled</a>
            </li>
        </ul>
    </div>
    <div class="col-sm-9">
        <h1>Charts</h1>
        <svg id="chart">

        </svg>
    </div>
</div>

@section scripts
{
    <script src="https://d3js.org/d3.v5.min.js"></script>
    <script type="text/javascript" language="javascript">

    </script>
}